<header>
    <a href="/" class="logo">
        <img src="/images/logo.png" alt="Logo">
        <h1>Just Do IT</h1>
    </a>
    <a href="/logout">Logout</a>
</header>

<main>

    <aside>
        <div class="top">
            <h2>Categories</h2>
        </div>
        <ul>
            <li class="{{#unless (checkForActiveCategories categories)}}active{{/unless}}"><a href="/">All</a></li>
            {{#each categories}}
                <li class="{{#if isActive}}active{{/if}}">
                    <a href="/category/{{#toLowerCase name}}{{/toLowerCase}}">{{name}}</a>
                    <form action="/category" method="POST">
                        <input type="hidden" name="method" value="DELETE">
                        <input type="hidden" name="id" value="{{id}}">
                        <button type="submit">x</button>
                    </form>
                </li>
            {{/each}}
        </ul>
        <form action="/category" class="add_category" method="POST">
            <input type="hidden" name="method" value="POST">
            <input type="text" name="name" placeholder="Add a category">
        </form>
    </aside>

    <div class="content">
        <article class="todos--unchecked__container">
            <h2>We've got things to do!</h2>
            <form class="add-todo" action="/todo" method="POST">
                <input type="hidden" name="method" value="POST">
                <div class="add-todo__inputs">
                    <div class="add-todo__inputField">
                        <input type="hidden" name="activeCategory" value="{{ findActiveCategory categories }}">
                        <input required name="title" type="text" placeholder="What is your task?" value="{{input.title}}">
                        <p>{{input.err}}</p>
                    </div>
                    <select name="category_id" class="category">
                        <option value="">Choose a category</option>
                        {{#each categories}}
                            <option {{#if isActive}}selected{{/if}} value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <button type="submit">+</button>
            </form>

            {{#if (filterTodosByStatus todos isChecked=false)}}
                    <ul class="todos--unchecked">
                        {{#each (filterTodosByStatus todos isChecked=false)}}
                            {{> todo this}}
                        {{/each}}
                    </ul>
                </article>
            {{/if}}
        </article>

        {{#if (filterTodosByStatus todos isChecked=true)}}
            <article class="todos-checked__container">
                <h2>Things you've done!</h2>
                <ul class="todos-checked">
                    {{#each (filterTodosByStatus todos isChecked=true)}}
                        {{> todo this}}
                    {{/each}}
                </ul>
            </article>  
        {{/if}}
    </div>

</main>

<script src="/scripts/editTodo.js"></script>
