<header>
    <a href="/" class="logo">
        <img src="./images/logo.png" alt="Logo">
        <h1>Just Do IT</h1>
    </a>
    <button type="button">Logout</button>
</header>

<main>

    <aside>
        <div class="top">
            <h2>Categories</h2>
            <button>+</button>
        </div>
        <ul>
            <li class="{{#unless (checkForActiveCategories categories)}}active{{/unless}}"><a href="/">All</a></li>
            {{#each categories}}
                <li class="{{#if isActive}}active{{/if}}"><a href="/?category={{#toLowerCase name}}{{/toLowerCase}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </aside>

    <div class="content">
        <article class="todos--unchecked__container">
            <h2>We've got things to do!</h2>
            <form class="add-todo" action="/" method="POST">
                <input type="hidden" name="method" value="POST">
                <div class="add-todo__inputs">
                    <div class="add-todo__inputField">
                        <input required name="title" type="text" placeholder="What is your task?" value="{{input.title}}">
                        <p>{{input.err}}</p>
                    </div>
                    <select name="category_id" class="category">
                        <option value="">Choose a category</option>
                        {{#each categories}}
                            <option {{#ifEquals ../activeCategory id}}selected{{/ifEquals}} value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <button type="submit">+</button>
            </form>

            {{#if (filterTodosByStatus todos isChecked=false)}}
                    <ul class="todos--unchecked">
                        {{#each (filterTodosByStatus todos isChecked=false)}}
                            {{> todo this}}
                        {{/each}}
                    </ul>
                </article>
            {{/if}}
        </article>

        {{#if (filterTodosByStatus todos isChecked=true)}}
            <article class="todos-checked__container">
                <h2>Things you've done!</h2>
                <ul class="todos-checked">
                    {{#each (filterTodosByStatus todos isChecked=true)}}
                        {{> todo this}}
                    {{/each}}
                </ul>
            </article>  
        {{/if}}
    </div>

</main>